
.app{
    &-data{
        text-align: center;
    }
    &-description{
        margin-bottom: $mb-5;
    }
    &-stores{
        margin-bottom: $mb-4;
    }
    &-store{
        width: 7.5rem;
        margin: 0 $mb-1;
    }
    &-img{
        width: 14.375rem;
        justify-self: center;
    }
}